<!--{{> header}}-->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=10">
    <!--  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pick-a-color-1.2.3.min.css">
    <link rel="stylesheet" href="css/main.css">

    
    <title>Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/bootstrap-3.0.0.min.css"> 

    <link href="/css/style.css" rel="stylesheet">-->
    <style>
        .userDetails {}

        .userDetailsBox {
            display: flex;
            margin-left: 20%
        }

        .boxChild {
            width: 20%;
            height: 50vh;
            border: 1px solid black;
        }

        .boxChildHeader {
            background-color: cornsilk;
        }

        .boxTextContainer {
            text-align: center;
            width: 90%;
            margin-left: 5%;
        }

        #destroyAllData {
            background-color: black;
            color: red;
            width: 25%;
            text-align: center;
            height: 10vh;
            font-size: 22px;
            border-radius: 10px;
            display: table;
            overflow: hidden;
            margin-top: 10%;
            margin-left: 10%;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->

<body>

    <div class="container">
        <h2>Profile Homepage</h2>
        <h3 id="hello"></h3>
    </div>

    <div class="userDetails">
        <div class="userDetailsBox">
            <div class="boxChild">
                <div class="boxChildHeader">
                    <div class="boxTextContainer">
                        <p>Total amount of Images saved:</p>
                    </div>
                </div>
                <div class="boxChildContent">
                    <ul>
                        <li id="amountImages">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="boxChild">
                <div class="boxChildHeader">
                    <div class="boxTextContainer">
                        <p>Total amount of Source Code files saved:</p>
                    </div>
                    <div class="boxChildContent">
                        <ul>
                            <li id="totalSc">

                            </li>
                            <li id="cssFiles">

                            </li>
                            <li id="htmlFiles">

                            </li>
                            <li id="jsFiles">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="boxChild">
                <div class="boxChildHeader">
                    <div class="boxTextContainer">
                        <p>Total size of your data:</p>
                    </div>
                    <div class="boxChildContent">
                        <ul>
                            <li id="totaldata">

                            </li>
                            <li id="dataRemain">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!-- <div id="destroyAllData">
        <div style="display: table-cell; vertical-align: middle;">
            <div>
                Destroy All Data
            </div>
        </div>-->
    </div>
    <script>

        const totalImages = document.querySelector("#amountImages");
        const totalSc = document.querySelector("#totalSc");
        const totalData = document.querySelector("#totaldata");
        const dataRemain = document.querySelector("#dataRemain");
        const hello = document.querySelector("#hello");
        const kuva = document.querySelector("#kuva");

        const jsFiles = document.querySelector("#jsFiles");
        const htmlFiles = document.querySelector("#htmlFiles");
        const cssFiles = document.querySelector("#cssFiles");

        const checkImages = (arr) => {

        }

        const checkSourceCode = (arr) => {

        }

        const parseDecimal = (num, amount) => {
            return (num / 100).toFixed(amount); //numero, mones desimaali
        }

        const toMb = (num) => {
            let n = "00." + num.toString();
        }

        const sliceDecimal = (num, amount) => {
            return num.substr(0, amount); //xx.{num}
        }

        const toDecimal = (num) => {
            let pituus = num.toString().length;
            switch (pituus) {
                case pituus = 4: //kb
                    return (sliceDecimal("0." + num.toString(), 3));
                    break;
                case pituus = 5: //kb
                    return (sliceDecimal("00." + num.toString(), 4));
                    break;
                case pituus = 6: //mb
                    return (sliceDecimal("000." + num.toString(), 5));
                    break;
                case pituus = 7: //gb
                    return sliceDecimal("0000." + num.toString(), 6);
                    break;
            }
        }

        const addDataToRemain = (num) => {
            let remain = 30 - parseFloat(num)
            dataRemain.innerHTML = "Data remain: " + remain;
        }

        const checkTotalData = (json) => {
            let totalSizeOfImages = 0;
            for (let i = 0; i < json.length; i++) {
                console.log("json[" + i + "]: ", json[i].size);
                totalSizeOfImages += json[i].size; //kb
            }
            let n2 = toDecimal(totalSizeOfImages);
            console.log(n2);
            addDataToRemain(n2);
            totaldata.innerHTML = "Total Size of Data: " + n2 + "MB";
        }

        const lahetaLomake = (evt) => {
            console.log("lähetä lomake");
            evt.preventDefault();
            const asetukset = {
                method: 'get',
            };
            fetch('/getUserInformation', asetukset).then((response) => {
                return response.json();
            }).then((json) => {
                console.log("json: ", json);
                console.log("json[0]: ", json[0]);
                console.log("json[1]: ", json[1]);
                if (json[0].size.length === 0) {
                    console.log("Json pituus 0");
                    totalImages.innerHTML = "Images: 0";
                } else {
                    totalImages.innerHTML = "Images: " + json[0].size.length;
                    checkTotalData(json[0].size);
                }
                totalSc.innerHTML = "Source Code Files: " + json[2].length;
                cssFiles.innerHTML = "CSS Files: " + json[2][0].CSS_Files;

                hello.innerHTML = "Hello " + json[1] + "!";


                console.log(window.location);
            });
        };
        // lomake.addEventListener('submit', function(e){lahetaLomake(e)});



        let e = document.createEvent('Event');
        lahetaLomake(e);

    </script>
</body>

</html>